.side-container {
    height: calc(100% - 64px);
    overflow: auto;
}

.for-mobile {
    display: block;
    cursor: pointer;
    img {
        width: 26px;
        margin-right: 14px;
    }
}

::ng-deep .mat-list-item .mat-list-item-content {
    cursor: pointer;
    color: #121212;
    &:hover {
        background-color: rgb(238, 238, 255);
    }
}

@media screen and (max-width: 768px) {
    .for-mobile {
        display: block;
        img {
            width: 26px;
            margin-right: 14px;
        }
    }
}